<div><%= user.name %></div>
<div><%= user.email %></div>

<div><strong>Favorite foods:</strong></div>
<ul>
  <% user.foods.each do |food| %>
    <li><%= food.name %></li>
  <% end %>
</ul>
<div>
  <% user.notes.each do |note| %>
    <%= note.body %>
    <br />
  <% end %>
</div>
<hr />